* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    background-color: grey;
}

.front{
    background: radial-gradient(circle, #ff0000,#0000ff);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 4px 10px rgba(92, 204, 6, 0.796);
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
}

a {
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}